<app-header></app-header>
<h3>Posture Analytics using graph</h3>
<body>
  <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/2121180/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
  <br><br><b><i><a href="https://thingspeak.com/channels/2121180">Click here for more info</a></i></b><br>
  
  <h3>Tabular data</h3>
  <table>
    <tr>
      <th>Timestamp</th>
      <th>Deviated distance</th>
    </tr>
    <tr>
      <td>[10/12/22] 10:22:15</td>
      <td>13</td>
    </tr>
    <tr>
      <td>[10/12/22] 13:15:07</td>
      <td>7</td>
    </tr>
    <tr>
      <td>[10/12/22] 14:05:01</td>
      <td>25</td>
    </tr>
  </table>
</body>
<app-footer></app-footer>
